h1{
    color: rgba(112, 112, 85, 0.949);
    margin-top: 15px;
    margin-left: 20px;
}

.texto-formulario{
    font-size: 1.3em;
    color:rgba(112, 112, 85, 0.949);
}

.formulario{
    background-color: rgb(168, 168, 154);
    padding: 30px;
}

.button{
    background-color: rgb(72, 75, 75);
    border-color: rgb(72, 75, 75);

}