<h1>Reactive Forms</h1>

<div class="container texto-formulario">
    <p>Para ingresar, completa con tu información de usuario:</p>
</div>

<div class="container formulario">
    <form [formGroup]="userForm"(ngSubmit)="onSubmit()">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label texto-formulario">Ingresa tu correo electrónico</label>
            <input 
            formControlName="email" 
            type="email" 
            class="form-control" 
            id="exampleInputEmail1" 
            aria-describedby="emailHelp" 
            [ngClass]="{'is-invalid': emailControlIsInvalid }">
    
            <div class="invalid-feedback">
                <ng-container *ngIf="emailControl.errors?.['required']"> Este campo es requerido </ng-container>
               <ng-container *ngIf="emailControl.errors?.['email']"> Ingresa un email válido</ng-container>
            </div>
        </div>
    
    
        <div class="mb-3 texto-formulario">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
    
        <button [disabled]="userForm.invalid" type="submit" class="btn btn-primary button">Ingresar</button>
    
    </form>
    
</div>